In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [22]:
import os, sys
from pathlib import Path

import numpy as np
import pandas as pd

sys.path.append('../')

from src.data_prep import DataPrep as dp

In [21]:
df_train = pd.read_json('../data/train.jsonl', lines=True)

In [23]:
dataprocessor = dp()

In [24]:
dataprocessor.train_test_split()

In [25]:
dataprocessor.df_test.head()

,id,response,context,concat
0,twitter_1,"@USER @USER @USER My 3 year old , that just fi...","[Well now that ’ s problematic AF <URL>, @USER...",Well now that ’ s problematic AF <URL> @USER @...
1,twitter_2,@USER @USER How many verifiable lies has he to...,[Last week the Fake News said that a section o...,Last week the Fake News said that a section of...
2,twitter_3,@USER @USER @USER Maybe Docs just a scrub of a...,[@USER Let ’ s Aplaud Brett When he deserves i...,@USER Let ’ s Aplaud Brett When he deserves it...
3,twitter_4,@USER @USER is just a cover up for the real ha...,[Women generally hate this president . What's ...,Women generally hate this president . What's u...
4,twitter_5,@USER @USER @USER The irony being that he even...,"[Dear media Remoaners , you excitedly sharing ...","Dear media Remoaners , you excitedly sharing c..."

In [80]:
dataprocessor.df_validation.shape

(1000, 3)

In [6]:
print(sys.path)

['/Users/kai/dev/ClassificationCompetition/nbs', '/Users/kai/opt/anaconda3/envs/kai/lib/python37.zip', '/Users/kai/opt/anaconda3/envs/kai/lib/python3.7', '/Users/kai/opt/anaconda3/envs/kai/lib/python3.7/lib-dynload', '', '/Users/kai/opt/anaconda3/envs/kai/lib/python3.7/site-packages', '/Users/kai/opt/anaconda3/envs/kai/lib/python3.7/site-packages/IPython/extensions', '/Users/kai/.ipython', '../']

In [38]:
X_train, X_test = train_test_split(df_train)

In [84]:
X_train.head()

,label,response,context
3823,NOT_SARCASM,@USER @USER I wonder if you have any photo fro...,[Giving plenty of advance warning - candidates...
1580,SARCASM,"@USER @USER @USER But wait , what council or C...",[( 1 ) Yesterday I was asked by some why I cal...
2402,SARCASM,@USER PS : I ’ m sure Israel and the US will b...,"[1 ) W / benefit of time to digest , please fi..."
3656,NOT_SARCASM,@USER @USER My Free range is working except fo...,[Anybody else having a hard time signing in to...
3857,NOT_SARCASM,@USER took away his magic and made him paraleg...,[Wow IMAX must have been really neat . Looking...

In [54]:
X_train.to_json('blah.json', orient='records')

In [9]:
dataprocessor.write_data()

In [10]:
pd.read_json('../data/processed/train.json', lines=True)

,label,response,context
0,NOT_SARCASM,@USER Go and talk to Melania and see if you ca...,[Dr . Drew who apparently didn ’ t even know h...
1,NOT_SARCASM,All that #God has given Was not given just for...,[A heart of can do far above Anything that #mo...
2,SARCASM,"@USER @USER Christ , you can't even use Englis...",[I now fear every attempt will be made to bloc...
3,NOT_SARCASM,@USER @USER @USER really please explain how in...,[On whether Obama admin paid for missiles that...
4,SARCASM,@USER @USER @USER exactly again the left says ...,[. @USER is nothing more then a estb . liberal...
...,...,...,...
3995,SARCASM,@USER @USER yr highness outrage over #Twittera...,"[Hahhaa .. What can I say ... "" DONT WEAR ABVP..."
3996,SARCASM,@USER @USER Of course I vote . You totally mis...,[People are protesting after one of the bigges...
3997,SARCASM,@USER let's not forget your support for Muslim...,[Getting overwhelmed at the thought of kids le...
3998,SARCASM,@USER @USER @USER Fantastic ! Thanks for shari...,[@USER LOOK ! Do they have anything like this ...
3999,SARCASM,"@USER So "" standard procedure "" is your excuse...",[@USER I just payed 10 Euros for a new #mobibc...

In [12]:
import json
with open('../data/test.jsonl') as file:
    data = file.read()
parsed = json.loads(data)

JSONDecodeError: Extra data: line 2 column 1 (char 704)

In [11]:
dataprocessor.df_test.head()

,id,response,context
0,twitter_1,"@USER @USER @USER My 3 year old , that just fi...","[Well now that ’ s problematic AF <URL>, @USER..."
1,twitter_2,@USER @USER How many verifiable lies has he to...,[Last week the Fake News said that a section o...
2,twitter_3,@USER @USER @USER Maybe Docs just a scrub of a...,[@USER Let ’ s Aplaud Brett When he deserves i...
3,twitter_4,@USER @USER is just a cover up for the real ha...,[Women generally hate this president . What's ...
4,twitter_5,@USER @USER @USER The irony being that he even...,"[Dear media Remoaners , you excitedly sharing ..."

In [20]:
#dataprocessor.df_test['response'] + dataprocessor.df_test['context']
dataprocessor.df_test['response'] + ' ' + dataprocessor.df_test['context'].str.join(" ")

0       @USER @USER @USER My 3 year old , that just fi...
1       @USER @USER How many verifiable lies has he to...
2       @USER @USER @USER Maybe Docs just a scrub of a...
3       @USER @USER is just a cover up for the real ha...
4       @USER @USER @USER The irony being that he even...
                              ...
1795    @USER @USER @USER is definitely the best out t...
1796    @USER @USER Ye let her out run wild and infect...
1797    @USER @USER @USER Thanks for that , I would ha...
1798    @USER @USER @USER Yes also #found this on #new...
1799    @USER @USER @USER you still need to send the l...
Length: 1800, dtype: object